*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body{
	max-width: 100%;
	overflow-x: hidden;
}

a{
	text-decoration: none;
}

header{
	background-color: #0020F4;
	width: 1920px;
	padding: 40px 0px 282px 0px;
	display: flex;
	justify-content: center;
	align-content: center;
	column-gap: 488px;
}


.logo{
	width: 115px;
}

ul{
	list-style-type: none;
}

li{
	display: inline-block;
	margin-left: 43px;
}

.buttons{
	color: #FFFFFF;
	text-transform:uppercase;
}

.contact-button{
	color: #171717;
	background-color: #FFFFFF;
	border-radius: 28px;
	text-transform: uppercase;
	padding: 18px 36px 18px 36px;
}
/*
.main-img{
	margin-top:-133px ;
}
*/
main{
	margin-top: -200px;
}
section{
	width: 100%;
	max-width: 1195px;
	margin: auto;
}

h2{
	color: #171717;	
	text-transform: uppercase;
	margin-top: 30px;
	margin-bottom: 60px;
}

.images-container{
	display: flex;
	align-items: center;
	justify-content: center;
}

div{
	width: 951px;
	margin: auto;
	color: #171717;
	font: normal;
}

.paragraph-container{
	width: 100%;
	max-width: 951px;
	margin: 0 auto;
}

.top-paragraph{
	margin-top: 60px;
	margin-bottom: 18px;
}

.middle-paragraph{
	margin-top: 18px;
	margin-bottom: 18px;
}

.bottom-paragraph{
	margin-top: 18px;
	margin-bottom: 76px;
}

.blue-button{
	color: #FFFFFF;
	background-color: #0A22F4;
	border-radius: 28px;
	padding: 18px 57px;
}

.button-container{
	display: flex;
	justify-content: center;
}

footer{
	background-color: #0A22F4;
	width: 100%;
	margin-top: 180px;
	height: 1080px;
	padding-top: 275px;
	padding-left: 240px;
	margin-top: 180px;
}


.footer-contact{
	color: #FFFFFF;
}

.footer-paragraph{
	color: #FFFFFF;
	width: 463px;
}

.phone-container,
.email-container{
	display: flex;
	align-items: center;
}

.phone-icon,
.gmail-icon{
	background-color: #FFFFFF;
	
}